@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

  .shadow-message{
    box-shadow: 0px 4px 13.5px 0px rgba(0, 0, 0, 0.05);
  }
  .Title_SemiBold_32{
    @apply font-sans font-semibold text-4xl 
  }
  .Title_SemiBold_24 {
    @apply font-sans font-semibold text-2xl 
  }

  .Title_SemiBold_20 {
    @apply font-sans font-semibold text-xl 
  }

  .Title_Medium_40 {
    @apply font-sans font-medium text-[2.5rem]
  }

  .Title_Medium_30 {
    @apply font-sans font-medium text-3xl
  }

  .Title_Medium_26 {
    @apply font-sans font-medium text-[1.625rem]
  }

  .Title_Medium_20 {
    @apply font-sans font-medium text-xl 
  }

  .Title_SemiBold_18 {
    @apply font-sans font-semibold text-lg 
  }

  /* Text */
  .Text_Regular_18 {
    @apply font-sans font-normal text-lg 
  }

  .Text_SemiBold_16 {
    @apply font-sans font-semibold text-base 
  }

  .Text_Medium_16 {
    @apply font-sans font-medium text-base  
  }

  .Text_Regular_16 {
    @apply font-sans font-normal text-base  
  }

  .Text_Regular_14 {
    @apply font-sans font-normal text-sm 
  }
  html {
    font-size: 3vw;
  }
  @media screen and (min-width: 640px) {
    html {
      font-size: 16px;
    }
  }
  @media screen and (min-width: 2060px) {
    html {
      font-size: 0.83vw;
    }
  }


  /* Color */
:root{
  --blue: #4F46E5;
  --violet: #A78BFA;
  --purple: #C084FC;

  --lite_gray: #F9FAFB;
  --gray: #404040;
  --dark: #262626;

  --gray: #A8A29E;
  --dark_blue: #1E1B4B;
  --white: #FFFFFF;
  --gray_neurtal: #E5E5E5;
  --gray_stone: #E7E5E4;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

html,
body {
  width: 100%;
  height: 100vh;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--blue);
  border-radius: 5px;
}

/* Для Firefox */
::-moz-scrollbar {
  width: 3px;
}

::-moz-scrollbar-thumb {
  background-color: var(--blue);
  border-radius: 5px;
}